// Add Variable Overrides here

// Font Families
$muli: "Muli", $helvetica;
$roboto: "Roboto", $helvetica;

// Font Settings
$font: $roboto;
$baseFontSize: 18;
$baseLineHeight: 24;
$baseFontWeight: 300;
$baseFontWeightStrong: 500;
$headerFontWeight: 100;
$headerFontWeightStrong: 300;

// Color Scheme
$primary: #f48c7f;		// [Pink]
$secondary: #bcbec0;	// [Light Gray]
$tertiary: #58595b;		// [Slate Gray]
$accent: red;			// Links and eye-catching elements
$support: lightblue;	// [Baby Blue] "Stand out" elements

// General Variables
$bodyTextColor: #58595b;
$bodyBackgroundColor: white;
$linkColor: $primary;
$linkHoverColor: lightblue;
$selectionColor: white;
$selectionBackgroundColor: lighten($tertiary, 20%);
$formElementHeight: 24;

// Input Field Variables
$inputTextColor: $tertiary;
$inputPlaceholderColor: $secondary;
$inputBackgroundColor: white;
$inputBorderColor: $primary;
$inputFocusBorderColor: $primary;
$inputFocusGlowColor: $primary;
$inputDisabledBackgroundColor: lighten(gainsboro, 11%);
$inputInvalidTextColor: crimson;
$inputInvalidBorderColor: $primary;
$inputInvalidFocusBorderColor: $primary;
$inputInvalidFocusGlowColor: $primary;
$inputBorderRadius: 0;

// Select Field Variables
$selectTextColor: $inputTextColor;
$selectBackgroundColor: $inputBackgroundColor;
$selectBorderColor: $inputBorderColor;
$selectFocusGlowColor: $inputFocusGlowColor;
$selectDisabledBackgroundColor: $inputDisabledBackgroundColor;
$selectInvalidTextColor: $inputInvalidTextColor;
$selectInvalidBorderColor: $inputInvalidBorderColor;
$selectInvalidFocusBorderColor: $inputInvalidFocusBorderColor;
$selectInvalidFocusGlowColor: $inputInvalidFocusGlowColor;
$selectBorderRadius: 4px;

// Textarea Field Variables
$textareaTextColor: $inputTextColor;
$textareaPlaceholderColor: $inputPlaceholderColor;
$textareaBackgroundColor: $inputBackgroundColor;
$textareaBorderColor: $inputBorderColor;
$textareaFocusBorderColor: $inputFocusBorderColor;
$textareaFocusGlowColor: $inputFocusGlowColor;
$textareaDisabledBackgroundColor: $inputDisabledBackgroundColor;
$textareaInvalidTextColor: $inputInvalidTextColor;
$textareaInvalidBorderColor: $inputInvalidBorderColor;
$textareaInvalidFocusBorderColor: $inputInvalidFocusBorderColor;
$textareaInvalidFocusGlowColor: $inputInvalidFocusGlowColor;
$textareaBorderRadius: $inputBorderRadius;

// Button Variables
$buttonTextColor: white;
$buttonBackgroundColor: $primary;
$buttonBorderColor: $primary;
$buttonHoverBackgroundColor: lighten($buttonBackgroundColor, 4%);
$buttonHoverBorderColor: lighten($buttonBorderColor, 4%);
$buttonActiveBackgroundColor: darken($buttonBackgroundColor, 2%);
$buttonActiveBorderColor: darken($buttonBorderColor, 2%);
$buttonBorderRadius: 0;